@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    font-family: "Roboto";
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.upper-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px grey;
    padding: 10px;
    border-radius: 10px;
}

.add-task-button {
    align-self: flex-end;
    background-color: blue;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.main-heading {
    text-align: center;
}

.label {
    margin-bottom: 5px;
}

.input {
    margin-bottom: 10px;
    padding: 5px;
}
